%fa-app(id='app' ng-controller='MainCtrl')
  / background
  %fa-surface(fa-background-color='mode.dark.background')

  / body
  %fa-flexible-layout(fa-options='verticalFlexibleLayoutOptions')
    / main content
    %fa-flexible-layout(fa-options='flexibleLayoutOptions')
      
      %fa-surface(fa-color="'white'" fa-node='prompterSurface')
        / Place for ads
      
      %fa-modifier(fa-translate='transitionable.get()')
        %fa-surface#content(fa-color="'white'" fa-node='prompterSurface')
          {{ data.content }}
      
      %fa-modifier(fa-size="[200, undefined]")
        %fa-surface(fa-padding="'10px'")
          %form
            .form-group
              %textarea.form-control(ng-model='data.content')
            .form-group
              %label Font size
              %input(ng-model="data.fontSize" type="range" min="6" max="128")
            .form-group
              %label Speed
              %input(ng-model="data.speed" type="range" min="1" max="401" step="10")
            .btn-group
              %a.btn.btn-success(ng-click='backward()')
                %i.fa.fa-backward
              %a.btn.btn-success(ng-click='togglePlay()')
                %i.fa(ng-class='currentStateClass()')
              %a.btn.btn-success(ng-click='stop()')
                %i.fa.fa-stop

    / footer
    %fa-modifier(fa-size="[undefined, 100]")
      %fa-flexible-layout(fa-options='footerFlexibleLayoutOptions')
        
        / share button
        %fa-modifier(fa-align='[0.01, 0.45]')
          %fa-surface(fa-color="'#ddd'")
            .btn.btn-custom.btn-share(ng-click='openModal()')
        
        / controls bar
        %fa-modifier
          %fa-modifier(fa-align='[0, 0.1]')
            %fa-surface.footer-background(fa-options="bar.backgroundOptions")
          / progress bar
          %fa-modifier(fa-translate='[0,0,0]')
            / background
            %fa-modifier(fa-origin='[0, .5]' fa-align='[0, 0.5]' fa-size="[undefined, 8]" fa-opacity='.5')
              %fa-surface(fa-background-color="'white'" fa-pipe-to='progressBarMouseSync')
            %fa-modifier(fa-origin='[0, .5]' fa-align='[0, 0.5]' fa-size="[progressBarSize(), 8]")
              / filled background
              %fa-modifier(fa-opacity='.5')
                %fa-surface(fa-background-color="'#003A59'" fa-pipe-to='progressBarMouseSync')
              / pointer
              %fa-modifier(fa-size='[15, 15]' fa-align='[1, 0.5]' fa-origin='[0.5, 0.5]' fa-opacity='1')
                %fa-surface(fa-options="bar.pointerOptions" fa-pipe-to='progressBarMouseSync')
        
        / dimmer
        %fa-modifier(fa-align='[0.8, 0.45]')
          %fa-surface(fa-color="'#ddd'")
            .btn.btn-custom.btn-dimmer()
