%fa-app(id='app' ng-controller='MainCtrl')
  / background
  %fa-surface(fa-background-color='mode.current.background')

  / body
  %fa-flexible-layout(fa-options='verticalFlexibleLayoutOptions')
    / main content
    %fa-flexible-layout(fa-options='flexibleLayoutOptions')
      
      %fa-surface(fa-color="mode.current.color" fa-node='prompterSurface')
        / Place for ads
      
      %fa-modifier(fa-translate='transitionable.get()')
        %fa-surface#content(fa-color="mode.current.color" fa-node='prompterSurface')
          {{ data.content }}
      
      %fa-modifier
        %fa-surface(fa-padding="'10px'" fa-color='mode.current.color')
          %form.pull-right#control-panel
            .form-group
              %textarea.form-control(ng-model='data.content')
            .form-group
              Font size
              %input(ng-model="data.fontSize" type="range" min="6" max="128")
            .form-group
              Speed
              %input(ng-model="data.speed" type="range" min="1" max="401" step="10")
            .btn-group
              %a.btn.btn-success(ng-click='backward()')
                %i.fa.fa-backward
              %a.btn.btn-success(ng-click='togglePlay()')
                %i.fa(ng-class='currentStateClass()')
              %a.btn.btn-success(ng-click='stop()')
                %i.fa.fa-stop

    / footer
    %fa-modifier(fa-size="[undefined, 100]")
      %fa-flexible-layout(fa-options='flexibleLayoutOptions')
        
        / social buttons
        %fa-view(ng-controller='SharedButtonsCtrl')
          %fa-modifier(ng-repeat="box in sharedButtons.boxes" fa-size="box.size" fa-translate="box.position.get()")
            %fa-surface
              %div(ng-bind-html="renderHtml(box.content)")
          / toggle button
          %fa-modifier(fa-align='[0, 0.45]')
            %fa-surface(id='sharer')
              .btn.btn-custom.btn-share(ng-click='toggleShared()')
        
        / bar
        %fa-modifier(ng-controller='ProgressBarCtrl')
          %fa-modifier(fa-align='[0, 0.5]')
            %fa-surface.footer-background(fa-options="bar.backgroundOptions")
          / progress bar
          %fa-modifier(fa-translate='[0, 20, 0]')
            / background
            %fa-modifier(fa-origin='[0, .5]' fa-align='[0, 0.5]' fa-size="[undefined, 6]" fa-opacity='.4')
              %fa-surface(fa-background-color="'white'" fa-pipe-to='progressBarMouseSync')
            %fa-modifier(fa-origin='[0, .5]' fa-align='[0, 0.5]' fa-size="[progressBarSize(), 8]")
              / filled background
              %fa-modifier
                %fa-surface(fa-options='bar.progressBarOptions' fa-pipe-to='progressBarMouseSync')
              / pointer
              %fa-modifier(fa-size='[15, 15]' fa-align='[1, 0.5]' fa-origin='[0.5, 0.5]')
                %fa-surface(fa-options="bar.pointerOptions" fa-pipe-to='progressBarMouseSync')
        
        / dimmer
        %fa-modifier(fa-align='[0, 0.45]')
          %fa-surface(id='dimmer')
            .btn.btn-custom.pull-right(class='{{mode.current.dimmer}}' ng-click='toggleMode()')
