@import 'bootstrap';
@import 'font-awesome';
@import 'famous-angular';

/* Alltogether
********************************************************/
label { color: white; }

#app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.iconset {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  
  a {
    display: inline-block;
    text-decoration: none;
  }
}

/* Buttons
********************************************************/
.btn-custom{
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 48px 47px;
  background-repeat: no-repeat;
  
  &.btn-share {
    background-image: image-url('share_red.png');

    &:active, &.active {
      background-image: image-url('share_red.png');
      box-shadow: none;
    }
  }

  &.btn-dimmer {
    background-image: image-url('bulb.png');

    &:active, &.active {
      background-image: image-url('bulb.png');
      box-shadow: none;
    }
  }
}

/* Shared links for fb, gplus and twitter
********************************************************/
.icon {
  display: inline-block;
  width:  36px;
  height: 36px;
  background-size: 36px;
  background-repeat: no-repeat;
  
  &#fb      { background-image: image-url('fb_icon.png'); }
  &#gplus   { background-image: image-url('gplus_icon.png'); }
  &#twitter { background-image: image-url('twitter_icon.png'); }
}
