@import 'bootstrap';
@import 'font-awesome';
@import 'famous-angular';

body {
  background-color: rgb(36, 48, 55);
}

#app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

label {
  color: white;
}

.iconset {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  
  a {
    display: inline-block;
    text-decoration: none;
  }
}

/* Share button
****************************/
.btn-share {
  display: inline-block;
  width: 48px;
  height: 48px;

  background-image: image-url('share_this_icon_2.png');
  background-size: 48px 48px;

  &:active, &.active {
    background-image: image-url('share_this_icon_2.png');
    box-shadow: inset 7px 7px 5px 0px rgba(50, 50, 50, 0.15);
  }
}

