.modal-body
  .iconset
    / facebook
    %a.icon#fb( href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcue-prompter.42gems.co%2F" target="_blank" )
    
    / Google+
    %a.icon#gplus( href="https://plus.google.com/share?url=http%3A%2F%2Fcue-prompter.42gems.co%2F" target="_blank" )
    
    / twitter
    %a.icon#twitter( href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fcue-prompter.42gems.co%2F&text=Nice+cue-prompter!" target="_blank" )
