.modal-body
  .iconset
    / facebook
    %a( href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcue-prompter.herokuapp.com%2F" target="_blank" )
      %img( src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/128/Web-Facebook-alt-4-Metro-icon.png" height="128" width="128" )
    
    / Google+
    %a( href="https://plus.google.com/share?url=http%3A%2F%2Fcue-prompter.herokuapp.com%2F" target="_blank" )
      %img( src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/128/Web-Google-plus-alt-Metro-icon.png" height="128" width="128" )
    
    / twitter
    %a( href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fcue-prompter.herokuapp.com%2F&text=Nice+CuePrompter!&hashtags=web,development" target="_blank" )
      %img( src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/128/Web-Twitter-alt-2-Metro-icon.png" height="128" width="128" )
